.App {
  font-family: "Poppins";
  text-align: center;
  background-image: linear-gradient(to bottom right, #fceff3, #eceff1);
  /* background-image: linear-gradient(to bottom right, #b2dfdb, #c5cae9); */
}
